#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;

  .App {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .content {
      position: relative;
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: flex-start;
      align-items: start;
    }
  }
}
